@model MvcFXProductMgr.Models.ChangePasswordModel
@{
    ViewBag.Title = "更改密码";
}

<h2>更改密码</h2>
@using (Html.BeginForm()) {
     @Html.ValidationSummary(true, "密码修改不成功，请更正错误并重试。")
    <div>
        <div class="editor-label">
           <label>旧密码：</label>
        </div>
        <div class="editor-field">
            <input name="OldPassword" type="text" class="acctxt" />
           @Html.ValidationMessageFor(m => m.OldPassword)
        </div>
        <div class="editor-label">
           <label>新密码：</label>
        </div>
        <div class="editor-field">
            <input name="NewPassword" type="password" class="acctxt"/>
            @Html.ValidationMessageFor(m => m.NewPassword)
        </div>
        <div class="editor-label">
           <label>确认密码：</label>
        </div>
        <div class="editor-field">
            <input name="ConfirmPassword" type="password" class="acctxt"/>
             @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
        <div>
            <input  name="btnSave" class="button" type="submit" value="保存"/>
             <input  name="btnCancel" class="button" type="button" value="取消" />
        </div>
    </div>
}
