
MvcFXProductMgr/MvcFXProductMgr/MvcFXProductMgr - 副本.csproj
*.suo
MvcFXProductMgr/MvcFXProductMgr.suo
MvcFXProductMgr/MvcFXProductMgr.suo
MvcFXProductMgr/MvcFXProductMgr/obj/Debug/*

MvcFXProductMgr/MvcFXProductMgr.suo
MvcFXProductMgr/MvcFXProductMgr/bin/*
MvcFXProductMgr/MvcFXProductMgr/App_data
App_data/*.xlsx
*.suo

MvcFXProductMgr/MvcFXProductMgr/obj/Debug/Package/PackageTmp/bin/MvcFXProductMgr.dll
*.dll
MvcFXProductMgr/MvcFXProductMgr/obj/Debug/Package/PackageTmp/bin/MvcFXProductMgr.dll
MvcFXProductMgr/MvcFXProductMgr/obj/Debug/Package/PackageTmp/bin/MvcFXProductMgr.pdb
MvcFXProductMgr/MvcFXProductMgr/obj/Debug/Package/PackageTmp/bin/MvcFXProductMgr.dll
App_data/20181207Products.xlsx
App_data/20181209-1Products.xlsx
App_data/20181209Products.xlsx
App_data/20181210Products.xlsx
App_data/20181211Products - 2.xlsx
App_data/20181211Products - 3.xlsx
App_data/20181222钻石.xlsx
App_data/钻石 - test2.xlsx
App_data/钻石.xlsx
App_data/钻石20181222-2.xlsx
