@using MvcFXProductMgr.Models;
@model List<ProductModel>

@{
    ViewBag.Title = "查询产品信息";
}


<form action=@Url.Action("GetProductsBy", "Product") class="prodQuery" method="post">
    <div class="cinfo">    
        <dl>
            <dt>公司信息：</dt>
            <dd> 
                 @Html.DropDownList("Company", ViewData["Company"] as SelectList)
                <span class="errMsg">请选择公司</span>
            </dd>
        </dl>
        <dl>
            <dt>起始时间：</dt>
            <dd> <input class="datetime" type="text"  name="StartDate" id="txtStartDate" placeholder="起始日期"/><input class="datetime" type="text"  name="StartTime" id="txtStartTime" value="00:00:00" placeholder="起始时间点"/></dd>
            <span class="errMsg">请选择查询的起始日期</span>
        </dl>
         <dl>
            <dt>截止时间：</dt>
            <dd> <input class="datetime" type="text"  name="EndDate" id="txtEndDate" placeholder="截止日期"/><input class="datetime" type="text"  name="EndTime" id="txtEndTime"  value="23:59:59" placeholder="截止时间点"/></dd>
            <span class="errMsg">请选择查询的截止日期</span>
        </dl>  
        <dl>
            <dt>产品类别：</dt>
            <dd> 
                <input type="radio" name="Category" value="黄金" checked/><label>黄金</label>
                <input type="radio" name="Category" value="硬金"/><label>硬金</label> 
                <input type="radio" name="Category" value="Au750"/><label>Au750</label>
                <input type="radio" name="Category" value="Au916"/><label>Au916</label>
                <input type="radio" name="Category" class="DCategory" value="钻石"/><label>钻石</label>
                <input type="radio" name="Category" value="5G黄金"/><label>5G黄金</label>
                <input type="radio" name="Category" value="黄镶宝"/><label>黄镶宝</label>
            </dd>
        </dl>
        <dl><input class="btn btnQuery" type="submit" name="Query" value="查询" /></dl>   
    </div>
</form>
<div class="errMsg">@Session["errMsg"]</div>
