
@using MvcFXProductMgr.Models;
@model ProductModel
@{
    Layout = "~/Views/Shared/_MLayout.cshtml";
    ViewBag.Title = "单品信息";
}

<div class="plogo"><img src=@ViewData["ImgPath"] /></div>
<div class="pdetail">
    <div>
        产品名称：@Model.Name
    </div>
    <div>
        产品重量：@Model.Weight 克
    </div>
    <div>
        条码：@Model.Barcode
    </div>
    <div>
        证书编号：@Model.CerNum
    </div>
    <div>
        含金量：999‰
    </div>
    <div>
        企业标准：@Model.Standard
    </div>
    <div>
        公司名称：@Model.CName
    </div>
    <div>
        公司地址：@Model.CAddress
    </div>
    <div>
        客服电话：@Model.CTel
    </div>
    <div>
        公司网址:@Model.CUrl
    </div>
    <div>
        检测机构：@Model.TName
    </div>
    <div>
    <a href="@Model.TUrl">检测网址：@Model.TUrl
    </a>
    </div>
    <div>电话：@Model.TTel</div>
</div>

<div class="advertment">
        <a href="http://www.chnau99999.com/Emoji.html">中国黄金Emoji系列新品重磅上市！<br>http://www.chnau99999.com/Emoji.html</a>
    </div>