<!DOCTYPE html>
<html>
    <head>
        @Html.Partial("_headPartial")
      
        <title>@ViewBag.Title</title>
    </head>

<body class="pdetail">
   
     <div id="container" class="ofh mobile">
        <div id="contentMobile">
            @RenderBody()                  
        </div>    
    </div>
</body>
</html>