<div class="companyInfo">
    <h2>@ViewBag.Title</h2>
    <form action="/Company/CreateNewCompany" method="post">
        <dl>
            <dt>公司名称：</dt>
            <dd>
                <textarea rows="2" cols="25" type="text" id="TxtCName" name="Name" class="txtarea"></textarea>
                <span class="errMsg">公司名称为空，请重新输入。</span>
            </dd>
        </dl>
         <dl>
            <dt>公司地址：</dt>
            <dd>
                <textarea rows="2" cols="25" type="text" id="TxtCAddress" name="Address" class="txtarea"></textarea>
                <span class="errMsg">公司地址为空，请重新输入。</span>
            </dd>
        </dl>
        <dl>
            <dt>公司网址：</dt>
            <dd>
                <textarea rows="2" cols="25" type="text" id="TxtCUrl" name="Url" class="txtarea"></textarea>
                <span class="errMsg">公司网址为空，请重新输入。</span>
            </dd>
        </dl>
        <dl>
            <dt>公司电话：</dt>
            <dd>
                <input  type="text" id="TxtCTel" name="Tel" class="txtTel" />
                <span class="errMsg">公司电话为空，请重新输入。</span>
            </dd>
        </dl>
        <div class="btn-function">
            <input class="button" name="btnSave" type="submit" value="保存" /> 
            <input class="button" name="btnCancel" type="button" value="取消" /> 
        </div>
    </form>
</div>