@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="user-info">
                      欢迎 <span class="user-info-name">XXX</span> ,您是本在线查询系统的<span class="user-info-role"></span>,您上次登录时间：<span class="user-info-logintime">XXXX年XX月XX日，XX：XX</span>
                    </div>
                    <div class="product-list">
                        <div class="product-list-title">截止今日：2018年10月（本月）</div>
                        <div>
                            <dl>
                                <dd>黄金饰品：385件，共计1298克</dd>
                                <dd>3D硬金：600件，共计560克</dd>
                                <dd>金750：600件，共计560克</dd>
                                <dd>金916：600件，共计560克</dd>
                                <dd>黄金饰品：385件，共计1298克</dd>
                                <dd>3D硬金：600件，共计560克</dd>
                                <dd>金750：600件，共计560克</dd>
                                <dd>金916：600件，共计560克</dd>
								<dd>黄金饰品：385件，共计1298克</dd>
                                <dd>3D硬金：600件，共计560克</dd>
                                <dd>金750：600件，共计560克</dd>
                                <dd>金916：600件，共计560克</dd>
                                <dd>黄金饰品：385件，共计1298克</dd>
                                <dd>3D硬金：600件，共计560克</dd>
                                <dd>金750：600件，共计560克</dd>
                                <dd>金916：600件，共计560克</dd>
                            </dl>
                        </div>
                    </div>